body {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #fff;
  z-index:-2;
}

#searchbar {
  position:absolute;
  margin:20px;
  width:350px;
  z-index: 50;
}

#searchbar input {
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  margin: 0 !important;
  outline: 0;
  padding: 10px 5px !important;
  width: 100%;
  box-shadow: none;
  height: auto !important;
  top: 5px;
  transition: none !important;
  -webkit-transition: none !important;
}

.aside .fa.geobias-class {
  position: absolute;
  top: 0px;
  right: -45px;
  font-size: 20px;
  color: #428bca;
  padding: 12px;
  background: white;
  border-radius: 5px;
  width:44px;
}

.aside.geobias-off .fa.geobias-class {
  color:lightgray;
}

input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

ul.results {
  list-style: none;
  padding: 0px 5px;
  background: white;
  margin: 2px 0;
  max-height: 300px;
  overflow: auto;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

ul.results.smaller {
  max-height:0px;
}

ul.results li {
  position:relative;
  margin: 0;
  padding: 0;
  display: block;
  line-height: 40px;
  border-bottom: solid 1px #ddd;
  clear: both;
  height: 40px;
  overflow: hidden;
}

ul.results li a {
  cursor: pointer;
  color:#666;
}

.aside {
  position:absolute;
  top:0px;
  right:0px;
  padding: 0 0 0 5px;
  background: white;
}

.label {
  padding: 8px 5px;
}

.label-searchType {
  position: absolute;
  top: 10px;
  right: 5px;
  text-transform: uppercase;
}

a {
  cursor: pointer;
}

.selected .glyphicon-search {
  color: #62b1ef;
}

.aside em {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
/* small mobile devices */
@media(max-width:767px){
  #searchbar {
    width:250px;
  }
}
