ul.locations.shortcuts {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 70px;
}

ul.locations.shortcuts li a, .leaflet-control-locations.expanded .leaflet-bar-part.leaflet-bar-part-single {
	width:100%;
	border-radius: 0px;
	cursor:pointer;
}