body {
    margin: 0px;
    border: 0px;
    padding: 0px;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#content {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    background: white;
    opacity: 0.9;
    border-bottom-right-radius: 8px;
    width: 280px;
}

#floating-content {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    background: white;
    opacity: 0.9;
    border-bottom-right-radius: 8px;
    width: 280px;
}

#map {
    background: rgba(0, 0, 0, 0);
    z-index:0;
}

h1 {
    font-size: 46px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-style: italic;
}

h2 {
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-style: italic;
}

h3 {
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 0px;
}

h4 {
    font-style: italic;
    font-size: 14px;
    text-align: center;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    opacity: 1.0;
    border-radius: 5px;
}

.canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    opacity: 1.0;
    border-radius: 5px;
}

.imgcontainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1.0;
}

.caption {
    font-style: italic;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    opacity: 1.0;
}

.info {
    font-size: 14px;
    padding: 7px;
    text-align: center;
    opacity: 1.0;
    cursor: pointer; 
    cursor: hand;
}

code {
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5em;
    background-color: #ECECEC;
}

.lang-yaml, .lang-glsl, .lang-bash { 
    background-color: #ECECEC;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}